@import url(http://fonts.googleapis.com/css?family=Merriweather);
html {
  overflow-y: scroll; }

body {
  font-family: 'Merriweather','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  background-image: url("../img/02.png"); }

.night {
  background-image: url("../img/02_inverse.png");
  background-repeat: repeat-x;
  background-color: rgba(0, 0, 0, 0.8); }

.container-fluid {
  background-color: rgba(255, 255, 255, 0.9); }

@media (min-width: 768px) {
  .container-fluid {
    width: 80%;
    margin-left: 120px; } }
*:hover {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

a {
  color: #ffbb66; }
  a:hover {
    color: #776644; }

.panel .panel-heading {
  background-color: #ffeeaa;
  color: #110000; }

header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-top: 0; }

#tabs {
  margin-bottom: 20px;
  font-family: serif; }
  #tabs .nav {
    border-bottom: 1px solid #eee; }
    #tabs .nav > li {
      float: left;
      margin-bottom: -1px; }
    #tabs .nav li a {
      color: #aaa;
      border-radius: 2.5px; }
      #tabs .nav li a a:hover {
        color: #000;
        background-color: #eee; }
    #tabs .nav li.active {
      border-bottom: 2px solid #88ccaa; }
      #tabs .nav li.active a {
        color: #66aa88; }
      #tabs .nav li.active a:hover,
      #tabs .nav li.active a:focus {
        background-color: #fff; }
      #tabs .nav li.active .badge {
        background-color: #88ccaa; }

.night #display .list-group .value {
  color: #aa1111; }

#display #monitor {
  display: none; }
#display .list-group .name {
  font-size: 15px; }
#display .list-group i, #display .list-group .value {
  color: #ffaaaa; }
#display .list-group .value {
  font-size: 20px;
  line-height: 1.2em; }
#display .list-group i {
  border-radius: 50%;
  font-size: 13px;
  color: #fff;
  border: 5px solid #ffaaaa;
  background-color: #ffaaaa;
  margin-right: 5px;
  display: inline-block;
  width: 23px;
  text-align: center; }

#aichan-img {
  background-image: url("../img/aichan.png"); }
  #aichan-img, #aichan-img .eye {
    display: block;
    width: 266px;
    height: 410px;
    margin: auto;
    padding: 0; }
  #aichan-img .eye:not(:hover) {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-animation: mepachi 7s linear infinite;
    -moz-animation: mepachi 7s linear infinite;
    -ms-animation: mepachi 7s linear infinite;
    -o-animation: mepachi 7s linear infinite;
    animation: mepachi 7s linear infinite; }
  #aichan-img:hover {
    -webkit-animation: yure 1s linear 1;
    -moz-animation: yure 1s linear 1;
    -ms-animation: yure 1s linear 1;
    -o-animation: yure 1s linear 1;
    animation: yure 1s linear 1;
    -webkit-transform-origin: 130px 400px;
    -moz-transform-origin: 130px 400px;
    -ms-transform-origin: 130px 400px;
    -o-transform-origin: 130px 400px;
    transform-origin: 130px 400px; }
  #aichan-img:hover .eye, #aichan-img .eye:hover .eye {
    opacity: 1; }

@-webkit-keyframes mepachi {
  0% {
    opacity: 1; }

  1% {
    opacity: 1; }

  2% {
    opacity: 0; }

  3% {
    opacity: 0; }

  4% {
    opacity: 1; }

  5% {
    opacity: 1; }

  6% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-moz-keyframes mepachi {
  0% {
    opacity: 1; }

  1% {
    opacity: 1; }

  2% {
    opacity: 0; }

  3% {
    opacity: 0; }

  4% {
    opacity: 1; }

  5% {
    opacity: 1; }

  6% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-o-keyframes mepachi {
  0% {
    opacity: 1; }

  1% {
    opacity: 1; }

  2% {
    opacity: 0; }

  3% {
    opacity: 0; }

  4% {
    opacity: 1; }

  5% {
    opacity: 1; }

  6% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@keyframes mepachi {
  0% {
    opacity: 1; }

  1% {
    opacity: 1; }

  2% {
    opacity: 0; }

  3% {
    opacity: 0; }

  4% {
    opacity: 1; }

  5% {
    opacity: 1; }

  6% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-webkit-keyframes yure {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  25% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

  50% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg); }

  75% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-moz-keyframes yure {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  25% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

  50% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg); }

  75% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-o-keyframes yure {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  25% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

  50% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg); }

  75% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes yure {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  25% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

  50% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg); }

  75% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

#stat table th, #stat table td {
  padding-left: 15px; }
#stat table th {
  color: #776644; }
#stat tbody tr td:first-child {
  width: 20em; }

.tooltips {
  position: relative; }
  .tooltips:hover span.tip {
    opacity: 0.8;
    bottom: 50px;
    left: 0px;
    z-index: 999;
    display: inline; }
  .tooltips span.tip {
    position: absolute;
    color: #FFFFFF;
    background: #000000;
    display: none;
    border-radius: 6px;
    padding: 10px 15px; }
  .tooltips span.tip:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 15px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent; }

.night #main .item-box .count span,
.night #main .item-sp-box .count span {
  color: #aa1111; }

#main #list-group > li {
  display: none; }
#main #itemshop {
  display: none; }
#main .item-sp-box .panel-heading {
  background-color: #ffddcc; }
#main .item-box .count,
#main .item-sp-box .count {
  font-size: 15px;
  display: inline-block;
  width: 5em; }
#main .item-box .count span,
#main .item-sp-box .count span {
  font-size: 20px;
  color: #ffaaaa;
  padding-left: 0px; }
  #main .item-box .count span i,
  #main .item-sp-box .count span i {
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    border: 5px solid #ffaaaa;
    background-color: #ffaaaa;
    display: inline-block;
    width: 23px;
    text-align: center; }
#main .item-box .item-list i,
#main .item-sp-box .item-list i {
  border-radius: 50%;
  border: 5px solid #ffaaaa;
  background-color: #ffaaaa;
  color: #fff;
  margin-bottom: 5px; }
#main .item-box .item-1 i,
#main .item-sp-box .item-1 i {
  font-size: 10px; }
#main .item-box .item-5 i,
#main .item-sp-box .item-5 i {
  font-size: 10px;
  border: 5px solid #dd8888;
  background-color: #dd8888; }
#main .item-box .item-10 i,
#main .item-sp-box .item-10 i {
  font-size: 13px; }
#main .item-box .item-50 i,
#main .item-sp-box .item-50 i {
  font-size: 13px;
  border: 5px solid #dd8888;
  background-color: #dd8888; }
#main .item-box .item-100 i,
#main .item-sp-box .item-100 i {
  font-size: 16px; }
#main .item-box .item-500 i,
#main .item-sp-box .item-500 i {
  font-size: 16px;
  border: 5px solid #dd8888;
  background-color: #dd8888; }
#main .item-box .btn-buy,
#main .item-sp-box .btn-buy {
  float: right;
  margin-top: -3px; }
#main .item-box .btn {
  background-color: #88ccaa;
  border-color: #66aa88;
  color: #fff;
  font-weight: bold; }
  #main .item-box .btn:hover {
    background-color: #77bb99; }
#main .item-sp-box .btn {
  background-color: #ff8866;
  border-color: #dd6644;
  color: #fff;
  font-weight: bold; }
  #main .item-sp-box .btn:hover {
    background-color: #ee7755; }

#log #log-group {
  max-height: 800px;
  overflow: auto; }

#alerts {
  position: relative;
  left: 0;
  top: -150px; }
  #alerts div.tip {
    color: #fff;
    background: #000;
    border-color: #000;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    opacity: 0.8;
    z-index: 999;
    width: 100%; }
  #alerts div.tip:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 15px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent; }
  #alerts button {
    color: #fff; }

.flow-box {
  margin-bottom: 20px;
  height: 10em;
  overflow: auto;
  border: 1px solid #ffbb66;
  padding: 5px 10px; }
