@import url(http://fonts.googleapis.com/css?family=Merriweather);

$c-key: #8ca;
$c-ys3: #764;
$c-pink: #faa;
$c-tinge: #fea;
$c-sweet: #ffd;
$c-cpeach: #fdc;
$c-peachy: #fb6;
$c-blood: #a11;

@mixin prefix($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin keyframes( $animationName )
{
  @-webkit-keyframes $animationName { @content; }
  @-moz-keyframes $animationName { @content; }
  @-o-keyframes $animationName { @content; }
  @keyframes $animationName { @content; }
}

html { overflow-y: scroll; }

body {
  font-family:
    'Merriweather','Lucida Grande',
    'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  background-image: url("../img/02.png");
}

.night {
  background-image: url("../img/02_inverse.png");
  background-repeat: repeat-x;
  background-color: rgba(0,0,0,.8);
}

.container-fluid {
  background-color: rgba(255,255,255,.90);
}

@media (min-width: 768px) {
  .container-fluid {
    width: 80%;
    margin-left: 120px;
  }
}

*:hover { @include prefix(transition, all ease .3s); }

a {
  color: $c-peachy;
  &:hover {
    color: $c-ys3;
  }
}

.panel {
  .panel-heading {
    background-color: $c-tinge;
    color: $c-ys3 - #666;
  }
}

header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-top: 0;
}

#tabs {
  margin-bottom: 20px;
  font-family: serif;

  .nav {
    border-bottom: 1px solid #eee;

    & > li {
      float: left;
      margin-bottom: -1px;
    }
    li a {
      color: #aaa;
      border-radius: 2.5px;
      a:hover {
        color: #000;
        background-color: #eee;
      }
    }
    li.active {
      border-bottom: 2px solid $c-key;
      a { color: $c-key - #222; }
      a:hover,
      a:focus { background-color: #fff; }
      & .badge { background-color: $c-key; }
    }
  }
}

.night {
  & #display .list-group {
    .value { color: $c-blood; }
  }
}

#display {
  #monitor { display: none; }

  .list-group {
    .name { font-size: 15px; }
    i, .value { color: $c-pink; }
    .value {
      font-size: 20px;
      line-height: 1.2em;
    }
    i {
      border-radius: 50%;
      font-size: 13px;
      color: #fff;
      border: 5px solid $c-pink;
      background-color: $c-pink;
      margin-right: 5px;

      display: inline-block;
      width: 23px;
      text-align: center;
    }
  }
}

#aichan-img {
  &, .eye {
    display: block;
    width: 266px;
    height: 410px;
    margin: auto;
    padding: 0;
  }
  background-image: url("../img/aichan.png");

  .eye:not(:hover) {
    @include prefix(opacity, 0);
    @include prefix(animation, mepachi 7s linear infinite);
  }
  &:hover {
    @include prefix(animation, yure 1.0s linear 1);
    @include prefix(transform-origin, 130px 400px);
  }
  &:hover, .eye:hover { .eye { opacity: 1; } }
}

@include keyframes(mepachi) {
  0% { opacity: 1; }
  1% { opacity: 1; }
  2% { opacity: 0; }
  3% { opacity: 0; }
  4% { opacity: 1; }
  5% { opacity: 1; }
  6% { opacity: 0; }
  100% { opacity: 0; }
}

@include keyframes(yure) {
  0% { @include prefix(transform, rotate(0deg)); }
  25% { @include prefix(transform, rotate(2deg)); }
  50% { @include prefix(transform, rotate(-2deg)); }
  75% { @include prefix(transform, rotate(2deg)); }
  100% { @include prefix(transform, rotate(0deg)); }
}

#stat {
  table {
    th, td { padding-left: 15px; }
    th { color: $c-ys3; }
  }

  .table-striped > tbody > tr:nth-child(2n+1) > td {
    background-color: #f9f9f9;
  }
}

.tooltips {
  position: relative;

  &:hover span.tip {
    opacity: 0.8;
    bottom: 50px;
    left: 0px;
    z-index: 999;
    display: inline;
  }

  span.tip {
    position: absolute;
    color: #FFFFFF;
    background: #000000;
    display: none;
    border-radius: 6px;
    padding: 10px 15px;
  }

  span.tip:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 15px;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
}

.night #main {
  .item-box,
  .item-sp-box {
    & .count span {
      color: $c-blood;
    }
  }
}

#main {
  #list-group > li, #list-sp-group > li:not(:first-child) { display: none; }
  #item-shop { display: none; }

  .item-sp-box .panel-heading {
    background-color: $c-cpeach;
  }

  .item-box,
  .item-sp-box {
    .count {
      font-size: 15px;
      display: inline-block;
      width: 5em;
    }

    .count span {
      font-size: 20px;
      color: $c-pink;
      padding-left: 0px;

      i {
        border-radius: 50%;
        font-size: 13px;
        color: #fff;
        border: 5px solid $c-pink;
        background-color: $c-pink;

        display: inline-block;
        width: 23px;
        text-align: center;
      }
    }

    .item-list i {
      border-radius: 50%;
      border: 5px solid $c-pink;
      background-color: $c-pink;
      color: #fff;
      margin-bottom: 5px;
    }

    .item-1 i {
      font-size: 10px;
    }
    .item-5 i {
      font-size: 10px;
      border: 5px solid $c-pink - #222;
      background-color: $c-pink - #222;
    }
    .item-10 i {
      font-size: 13px;
    }
    .item-50 i {
      font-size: 13px;
      border: 5px solid $c-pink - #222;
      background-color: $c-pink - #222;
    }
    .item-100 i {
      font-size: 16px;
    }
    .item-500 i {
      font-size: 16px;
      border: 5px solid $c-pink - #222;
      background-color: $c-pink - #222;
    }

    .btn-buy {
      float: right;
      margin-top: -3px;
    }
  }

  .item-box {
    .btn {
      background-color: $c-key;
      border-color: $c-key - #222;
      color: #fff;
      font-weight: bold;
      &:hover { background-color: $c-key - #111; }
    }
  }
  .item-sp-box {
    .btn {
      background-color: $c-peachy - #030;
      border-color: $c-peachy - #252;
      color: #fff;
      font-weight: bold;
      &:hover { background-color: $c-peachy - #141; }
    }
  }
}

#log {
  #log-group {
    max-height: 800px;
    overflow: auto;
  }
}

#alerts {
  position: relative;
  left: 0;
  top: -150px;

  div.tip {
    color: #fff;
    background: #000;
    border-color: #000;
    border-radius: 6px;
    padding: 10px 15px;

    position: absolute;
    opacity: 0.8;
    z-index: 999;
    width: 100%;
  }

  div.tip:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 15px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  button { color: #fff; }
}

.flow-box {
  margin-bottom: 20px;
  height: 10em;
  overflow: auto;
  border: 1px solid $c-peachy;
  padding: 5px 10px;
}
